{% extends "map_base.html" %}
    <head>
        {% load static %}
        {% block extrahead %}
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac3e45beda16d0d13cf0185a65ab9c76&libraries=services"></script>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/placesList.css' %}">
        <!--  변수 선언부 -->
        <script>
            var keyword = '{{ keyword }}';
        </script>
        {% endblock %}
    </head>
    {% block content %}
    <div class="map-container">
        <div id="map">
        </div>

        <div id="list-container">
            <div id="placesList-detail"></div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    {% endblock %}