{% extends "base.html" %}
    <head>
        {% load static %}
        {% block extrahead %}
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac3e45beda16d0d13cf0185a65ab9c76&libraries=services"></script>
        <link rel="stylesheet" href="{% static 'css/map.css' %}">
        <link rel="stylesheet" href="{% static 'css/placesList.css' %}">
        <!--  변수 선언부 -->
        <script>
            var keyword = '{{ keyword }}';
        </script>
        {% endblock %}
    </head>
    {% block content %}
    <div class="sort-navbar">  
        <div></div>
        {% if keyword != '응급실' and keyword != '약국' %}
            <div style="margin: auto;">
                <input class="search-bar" type="text" id="searchKeyword" autofocus onkeypress="if( event.keyCode == 13){startSearch(this.value)}" value='{{ keyword }}'>
            </div>
        {% else %}
        {% endif %}
        <div class="dropdown button">
            <button id="reSearch" class="op btn btn-secondary" value="child" {% if op == 'child' %}disabled{% endif %}>범위 내 재검색</button>
            <button id="nowPlace" class="op2 btn btn-secondary" value="" {% if op == '' and kw == '' %}disabled{% endif %}>현재 위치</button>
            <button id="totalList" class="op2 btn btn-secondary" style="display: none" value="" {% if op == '' and kw == '' %}disabled{% endif %}>전체 목록</button>
        </div>
    </div>

    <div class="map-container">
        <div id="map">
        </div>

        <div id="list-container">
            <div id="placesList-detail-emer" style="height:100%; display:none;">
                <h4 class="title"></h4>
                <div class="addr"></div>
                <div class="Tele">
                    <table class="table">
                        <tbody>
                            <tr>
                            <th scope="row">응급실</th>
                                <td class="dutytel3" colspan="2"></td>
                            </tr>
                            <tr>
                                <th scope="row">당직의</th>
                                <td class="hvdnm"></td>
                                <td class="hv1"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">진료과목</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='dgid' style="word-break: keep-all;"></td>
                        </tr>
                    </tbody>
                </table>

                <div class='info'>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="6">실시간 가용 병상</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">응급실</th>
                                <td class="hvec"></td>
                                <th scope="row">입원실</th>
                                <td class="hvgc"></td>
                                <th scope="row">수술실</th>
                                <td class="hvoc"></td>
                            </tr>
                            <tr>
                                <th scope="col"  colspan="6">중환자실</th>
                            </tr>
                            <tr>
                                <th scope="row">일반</th>
                                <td class="hvicc"></td>
                                <th scope="row">신경</th>
                                <td class="hvncc"></td>
                                <th scope="row">흉부</th>
                                <td class="hvccc"></td>
                            </tr>
                            <tr>
                                <th scope="row">약물</th>
                                <td class="hv7"></td>
                                <th scope="row">화상</th>
                                <td class="hv8"></td>
                                <th scope="row">외상</th>
                                <td class="hv9"></td>
                            </tr>
                            <tr>
                                <th scope="row">내과</th>
                                <td class="hv2"></td>
                                <th scope="row">외과</th>
                                <td class="hv3"></td>
                                <th scope="row">신경외과</th>
                                <td class="hv4"></td>
                            </tr>
                            <tr>
                                <th scope="row">신생</th>
                                <td class="hvncc"></td>
                                <th scope="row"></th>
                                <td></td>
                                <th scope="row"></th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" colspan="6">기타</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">구급차</th>
                                <td class="hvamyn"></td>
                                <th scope="row">CT</th>
                                <td class="hvctayn"></td>
                                <th scope="row">MRI</th>
                                <td class="hvmriayn"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="placesList-detail-phar" style="height:100%; display:none;">
                <h4 class="ptitle"></h4>
                <p class="paddr"></p>
                <p class="pTele"></p>
                <div>
                    <h6>영업시간</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">월요일</th>
                                <th scope="col">화요일</th>
                                <th scope="col">수요일</th>
                                <th scope="col">목요일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='dutyTime1'></td>
                                <td class='dutyTime2'></td>
                                <td class='dutyTime3'></td>
                                <td class='dutyTime4'></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th scope="col">금요일</th>
                                <th scope="col" style="color: blue">토요일</th>
                                <th scope="col" style="color: red">일요일</th>
                                <th scope="col" style="color: red">공휴일</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class='dutyTime5'></td>
                                <td class='dutyTime6'></td>
                                <td class='dutyTime7'></td>
                                <td class='dutyTime8'></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="placesList-detail-hos" style="height:100%; display:none;">
                <h4 class="htitle"></h4>
                <p class="haddr"></p>
                <p class="hTele"></p>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">진료과목</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class='hdgid' style="word-break: keep-all;"></td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <h6>영업시간</h6>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">월요일</th>
                                    <th scope="col">화요일</th>
                                    <th scope="col">수요일</th>
                                    <th scope="col">목요일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class='hdutyTime1'></td>
                                    <td class='hdutyTime2'></td>
                                    <td class='hdutyTime3'></td>
                                    <td class='hdutyTime4'></td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th scope="col">금요일</th>
                                    <th scope="col" style="color: blue">토요일</th>
                                    <th scope="col" style="color: red">일요일</th>
                                    <th scope="col" style="color: red">공휴일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class='hdutyTime5'></td>
                                    <td class='hdutyTime6'></td>
                                    <td class='hdutyTime7'></td>
                                    <td class='hdutyTime8'></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>

            <div id="placesList-Null" style="height:100%; display:none;">
                <p>조회된 정보가 없습니다.</p>
            </div>
            <hr>
            <ul id="placesList" style="display:block;"></ul>
            <div id="pagination"></div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    {% endblock %}