.map-container {
    width: 100vw;
    height: 84vh;
    background-color: #C6C6C6;
    display: flex;
}

#list-container{
    position:relative;
    float: right;
    width: 20vw;
    height: 100%
}

#map {
    display: block;
    position: relative;
    float: left;
    width: 80vw;
    height: 100%;
}

#placeList #pagination {
    width: 100%
}
