@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto:wght@500&display=swap');
html {
    size: 10px;
    text-align: center;
}

html, body {
    height: 100%;
    margin: 0px;
}

.topContainer {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}
.area {
    position: relative;
    width: 100%;
}

.top { 
    flex-grow: 4;
}

.search {
    flex-grow: 1;
 }

.keyword {
    flex-grow: 4;
 }

.bottom {
    flex-grow: 1;
}

#logo {
    position : absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    font-size: 7rem;
}