<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
</head>
<body>
    <h1>글을 만들어보자!</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %} <!-- csrf 공격을 막아줌 -->
        <p>제목: <input type="text" name="title"></p>
        <p>작성자: <input type="text" name="writer"></p>
        <p>본문: <textarea name="body" id="" cols="30" rows="10"></textarea></p>
        <button type="submit">작성</button>
    </form>
</body>
</html>