{% extends 'base.html' %}
    {% block content %}
    <header>
        <p style="font-size: 70px; font-weight: bold;">Blog</p>
    </header>
    <nav>
        <a href="{% url 'home' %}">목록으로</a>
    </nav>
    <main>
        <div class="post" >
            <p style="font-size: 20px;"><strong>{{title}}</strong></p>
            <p>작성자: {{writer}} | 게시일: {{pub_date}}</p>
            <img src="{{image.url}}" height=300>
            <p>{{body}}</p>
        </div>
        <div>
            <a href="{% url 'update_page' id %}">글 수정하기</a>
            <br>
            <a href="{% url 'delete' id %}">삭제</a>
        </div>
        <div>
            <h4>----------- 댓글 -----------</h4>
            {% for comment in comments %}
                <p> {{comment.user}}({{comment.date}})<br>{{comment.content}}</p>
                <a href="{% url 'delete_comment' id comment.id %}">삭제</a>
            {% endfor %}
        </div>

        <h4>----------- 댓글 작성하기 -----------</h4>
        <form action="{% url 'create_comment' id %}" method="POST">
            {% csrf_token %} <!-- csrf 공격을 막아줌 -->
            <p>사용자: <input type="text" name="user"></p>
            <p>내용: <input type="text" name="content"></p>
            <button type="submit">작성</button>
        </form>
    </main>
    {% endblock %}