<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Create_page</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="http://img.albamon.kr/sns_img/2021/02/pywwgo09170241.png" class="img-fluid" alt="..." width="500px">
        </a>
    </header>
    <main>
        <form action="{% url 'upload' %}" method="post" style="padding: 100px 500px 100px 500px;">
            {% csrf_token %}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">가게이름</span>
                <input type="text" name="name" class="form-control">
            </div>
              
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">구인지역</span>
                <input type="text" name="job_area" class="form-control">
            </div>
            
            <div class="input-group mb-3">
                <span class="input-group-text">아르바이트 상세정보</span>
                <textarea name="detail" class="form-control"></textarea></p>
            </div>
              
            <div class="input-group mb-3">
                <span class="input-group-text">위치</span>
                <input type="text" name="location" class="form-control">
            </div>
              
            <div class="input-group mb-3">
                <span class="input-group-text">시급</span>
                <input type="number" name="wage" class="form-control" style="text-align: right;">
                <span class="input-group-text">원</span>
            </div>
              
            <div class="input-group">
                <span class="input-group-text">하는 일</span>
                <textarea name="job" class="form-control"></textarea>
            </div>
            <div style="height: 30px;"></div>
            <button type="submit" class="btn btn-warning">업로드</button>
        </form>
    </main>
</body>
</html>