<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Albamon</title>
</head>
<style>
    body {
        text-align: center;
    }
    a {
        color: black;
        text-decoration: none;
    }
</style>
<body>
    <header>
        <a href="{% url 'home' %}">
            <img src="http://img.albamon.kr/sns_img/2021/02/pywwgo09170241.png" class="img-fluid" alt="..." width="500px">
        </a>
    </header>
    <main>
        <h2 style="padding: 25px;">모집공고 리스트</h2>
        <ul class="list-group" style="padding: 25px 500px 50px 500px;">
            {% for store in stores %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto" style="text-align: left;">
                        <div class="fw-bold">
                            <a href="{% url 'detail' store.id %}" style="font-size: 30px; text-decoration: none;">{{store.name}}</a>
                        </div>
                        시급 <strong>{{store.wage}}원</strong><br>
                        지역 <strong>{{store.location}}</strong>
                    </div>
                    <span class="badge rounded-pill bg-warning text-dark">{{store.applicant}}</span>
                </li>
            {% endfor %}
        </ul>
        <a class="btn btn-outline-primary" href="{% url 'create_page' %}">모집공고 올리기</a>
    </main>
</body>
</html>