<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Modify_page</title>
</head>
<body>
    <img src="http://img.albamon.kr/sns_img/2021/02/pywwgo09170241.png" class="img-fluid" alt="...">
    <form action="{% url 'modify' id %}" method="post">
        {% csrf_token %}
        <p>가게이름: <input type="text" name="name" value="{{name}}"></p>
        <p>구인지역: <input type="text" name="job_area" value="{{job_area}}"></p>
        <p>알바 상세정보: <textarea name="detail" cols="30" rows="10">{{detail}}</textarea></p>
        <p>위치: <input type="text" name="location" value="{{location}}"></p>
        <p>시급: <input type="number" name="wage" value="{{wage}}"></p>
        <p>하는 일: <textarea name="job" cols="30" rows="10">{{job}}</textarea></p>
        <button type="submit">수정</button>
    </form>

    <form action="{% url 'modify' id %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">가게이름</span>
            <input type="text" name="name" class="form-control" placeholder="Username" value="{{name}}" aria-label="name" aria-describedby="basic-addon1">
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">@example.com</span>
          </div>
          
          <label for="basic-url" class="form-label">Your vanity URL</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
          
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-text">.00</span>
          </div>
          
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Server" aria-label="Server">
          </div>
          
          <div class="input-group">
            <span class="input-group-text">With textarea</span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
          </div>
        <button type="submit">수정</button>
    </form>
</body>
</html>